
.registerPage {
    background: url('../components/HR.jpg');
    background: linear-gradient(regba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
  }
  
  .registerPage h1 {
    color: white;
    position: absolute;
    top: 25px;
    width: 300px;
    padding: 10px;
  }
  
  .registerForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
    padding: 5px;
    align-items: center;
  }

  .registerForm button{
margin-top: 35px;
  }