form {
    align-items: center;
}

h3 {
    text-align: center;
}


.mb-3 {
    text-align: center;
    align-items: center;
    }

.btn btn-primary{
    width:50px;
}

.mybutn button{
    width:auto;
}

p {
    margin-top: 20px;
}

