h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.servicesBody {
    align-items: center;
    text-align: center;
    margin-bottom:25px;
    background-color: #f1f7fc;
    height: auto;
    position:absolute;
}

.MDB {
   align-items: center; 
   margin-top: 100px;
   margin-left: 40px;
   width: 450px;
   height: 650px;
   margin-bottom: 15px;
}