.towingPage{
    background: url('../images/tow.jpg');
    background: linear-gradient(regba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.towingForm {
    background-color: rgba(21, 24, 22, 0.6);
    color: white;
  }

.strongHolder{
    margin-top: 20px;
    align-items: center;
}

.buttonHolder{
align-items: center;
margin-top:15px;
margin-bottom:30px;
}

.myButton{
    margin-top:15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px 20px;
    background-color: #f0eee6;
    font-size: 1em;
    cursor: pointer;
    }